/*
$LastChangedBy: bdubbs $
$Date: 2015-08-10 20:53:57 +0300 (Пн, 10 авг 2015) $
*/
@import url(lfs.css);

.navfooter, .headerlinks {
   display: none;
}

div.navheader {
  position: absolute;
}

div.navheader ul,
div.navheader ul{
  display: none;
}
