<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
  "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../general.ent">
  %general-entities;
]>

<sect1 id="ch-system-acl" role="wrap">
  <?dbhtml filename="acl.html"?>

  <sect1info condition="script">
    <productname>acl</productname>
    <productnumber>&acl-version;</productnumber>
    <address>&acl-url;</address>
  </sect1info>

  <title>Acl-&acl-version;</title>

  <indexterm zone="ch-system-acl">
    <primary sortas="a-Acl">Acl</primary>
  </indexterm>

  <sect2 role="package">
    <title/>

    <para>Пакет ACL содержит утилиты для администрирования списков контроля доступа (ACL),
    которые используются для более четкого разделения прав доступа к файлам и каталогам.</para>

    <segmentedlist>
      <segtitle>&buildtime;</segtitle>
      <segtitle>&diskspace;</segtitle>

      <seglistitem>
        <seg>&acl-fin-sbu;</seg>
        <seg>&acl-fin-du;</seg>
      </seglistitem>
    </segmentedlist>

  </sect2>

  <sect2 role="installation">
    <title>Устновка Acl</title>

    <para>Подготовьте Acl для компиляции:</para>

<screen revision="sysv"><userinput remap="configure">./configure --prefix=/usr         \
            --bindir=/bin         \
            --disable-static      \
            --libexecdir=/usr/lib \
            --docdir=/usr/share/doc/acl-&acl-version;</userinput></screen>

<screen revision="systemd"><userinput remap="configure">./configure --prefix=/usr         \
            --disable-static      \
            --libexecdir=/usr/lib \
            --docdir=/usr/share/doc/acl-&acl-version;</userinput></screen>

    <para>Скомпилируйте пакет:</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>Тесты необходимо запустить на файловой системе, которая поддерживает списки
    контроля доступа, после сборки пакета <application>Coreutils</application> с
    поддержкой библиотек Acl. При желании, вернитесь позднее к этому пакету
    и выполните команду <command>make check</command> после сборки
    пакета <application>Coreutils</application>, который будет установлен немного
    позднее в этой главе</para>

    <para>Установка пакета:</para>

<screen><userinput remap="install">make install</userinput></screen>

    <para>Разделяемые библиотеки необходимо перенести в каталог
    <filename class="directory">/lib</filename> и, как следствие, файлы
    <filename class="extension">.so</filename> в каталоге
    <filename class="directory">/usr/lib</filename> необходимо создать заново:</para>

<screen><userinput remap="install">mv -v /usr/lib/libacl.so.* /lib
ln -sfv ../../lib/$(readlink /usr/lib/libacl.so) /usr/lib/libacl.so</userinput></screen>

  </sect2>

  <sect2 id="contents-acl" role="content">
    <title>Содержимое пакета Acl</title>

    <segmentedlist>
      <segtitle>&contentprogs;</segtitle>
      <segtitle>&contentlibs;</segtitle>
      <segtitle>&contentdirs;</segtitle>

      <seglistitem>
        <seg>chacl, getfacl, and setfacl</seg>
        <seg>libacl.so</seg>
        <seg>/usr/include/acl and /usr/share/doc/acl-&acl-version;</seg>
      </seglistitem>
    </segmentedlist>

    <variablelist>
      <bridgehead renderas="sect3">&shortdescr;</bridgehead>
      <?dbfo list-presentation="list"?>
      <?dbhtml list-presentation="table"?>

      <varlistentry id="chacl">
        <term><command>chacl</command></term>
        <listitem>
          <para>Изменяет список контроля доступа файла или каталога</para>
          <indexterm zone="ch-system-acl chacl">
            <primary sortas="b-chacl">chacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="getfacl">
        <term><command>getfacl</command></term>
        <listitem>
          <para>Получает списки контроля доступа файла</para>
          <indexterm zone="ch-system-acl getfacl">
            <primary sortas="b-getfacl">getfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="setfacl">
        <term><command>setfacl</command></term>
        <listitem>
          <para>Устанавливает списки контроля доступа файла</para>
          <indexterm zone="ch-system-acl setfacl">
            <primary sortas="b-setfacl">setfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="libacl">
        <term><filename class="libraryfile">libacl</filename></term>
        <listitem>
          <para>Содержит библиотечные функции управления списками контроля доступа</para>
          <indexterm zone="ch-system-acl libacl">
            <primary sortas="c-libacl">libacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

    </variablelist>

  </sect2>

</sect1>
