/* Global settings */
body {
  font-family: sans-serif;
  text-align: left;
  background: #fff;
  color: #333;
  margin: 1em;
  padding: 0;
  font-size: 1em;
  line-height: 1.2em
}

a:link { color: #22b; }
a:visited { color: #7e4988; }
a:hover, a:focus { color: #d30e08; }
a:active { color: #6b77b1;}

/* Headers */
h1, h2, b, strong {
  color: #000;
  font-weight: bold;
}

h3, h4, h5, h6 {
  color: #222;
}

h1 { font-size: 200%; text-align: center; }
h2 { font-size: 170%; padding-top: 0; margin-top: 0.5em; }
h2.subtitle { text-align: center; }
h3 { font-size: 140%; }
h4 { font-size: 110%;}
h5, h6 { font-size: 110%; font-style: italic; }

/* Navigation */
div.headertitles h4 {
  margin-bottom: 0px auto;
}

div.headertitles h3 {
  margin-top: 0px auto;
}

div.navheader, div.navfooter {
  background: #ecedef;
  text-align: center;
  padding: 0.2em 1em;
  border-bottom: 1px solid #dbddec;
}

div.navfooter {
  border-bottom: 0;
  border-top: 1px solid #dbddec;
}

div.navheader ul, div.navfooter ul {
  padding: .3em;
  text-align: center;
  position: relative;
  background: #dbddec;
}

div.navheader ul li, div.navfooter ul li {
  display: inline;
}

div.navheader ul li.prev a, div.navfooter ul li.prev a {
  position: absolute;
  left: 0;
  text-align: left;
  padding: 0 .5em;
}

div.navheader ul li.next a, div.navfooter ul li.next a {
  position: absolute;
  right: 0;
  text-align: right;
  padding: 0 .5em;
  background: #dbddec;
}

div.navheader ul li.home, div.navheader ul li.up,
div.navfooter ul li.home, div.navfooter ul li.up {
  padding: 0;
  margin: 0;
  display: block;
}

/* TOC & Index*/

div.toc ul, div.index ul, div.navheader ul, div.navfooter ul {
  list-style: none;
}

div.toc, div.dedication {
  padding-left: 1em;
}

li.preface {
  margin-left: 1em;
}

div.toc ul li h3, div.toc ul li h4 {
  margin: .4em;
}

.item {
    width: 15em;
    float: left;
}

.secitem {
    font-weight: normal;
    width: 14em;
    float: left;
}

/* Admonitions */
div.admonition {
  border: medium solid;
  width: 90%;
  margin: .5em auto;
}

div.admonhead img {
  padding: .3em;
}

div.admonhead h3 {
  display: inline;
  margin-left: 1.5em;
}

div.admonbody {
  margin: .5em;
}

/* Monospaced elements */
tt, code, kbd, pre, .command {
  font-family: monospace;
  font-size: 1em;
}

pre.screen {
  color: #600;
  background-color: #ffffe0;
  border: 1px solid #eeeed0;
  padding: .5em 2em;
  margin: 0;
  font-weight: bold;
}

/* variablelist & segmentedlist */
div.variablelist dd {
  margin-bottom: 1em;
}

div.variablelist dd p {
  margin-top: 0px;
}

div.segmentedlist {
  margin-top: 1em;
}

div.segmentedlist p {
  margin: 0px auto;
}

dl.materials dd {
  margin-left: 0px auto;
}

/* Indented blocks */
p, ul, dl, code, blockquote {
  padding-left: 1em;
}

/* Sections */
div.wrap h1 {
  background: #f5f6f7;
  padding: 0.8em 0 0.5em 0;
  margin: 0;
}

div.package {
  background: #f5f6f7;
  border-bottom: .3em solid #dbddec;
  padding: 0 0.5em 1em 0.5em;
  margin: 0;
}

div.installation {
  background:   #fefefe;
  padding: 0 0.5em 0.5em 0.5em;
  margin: .5em 0 .5em 0;
}

div.content {
  background: #f5f6f7;
  border-top: .3em solid #dbddec;
  padding: 1em 0.5em 0.5em 0.5em;
  margin: .5em 0 .5em 0;
}

div.installation h2, div.content h2 {
  padding-top: 0.4em;
  margin: 0;
}

div.book, div.preface, div.part, div.chapter, div.sect1, div.index {
  background:   #fefefe;
  padding-bottom: 0.5em;
}

div.preface h1, div.part h1, div.chapter h1, div.sect1 h1, div.index h1 {
  background: #f5f6f7;
  border-bottom: .1em solid #dbddec;
  margin: 0px auto;
  padding: .5em;
}

div.book h1 {
  background: #f5f6f7;
  margin: 0px auto;
  padding: 0.5em;
}

div.book h2.subtitle {
  background: #dbddec;
  margin: 0px auto;
  padding: 0.2em;
}
div.authorgroup, div p.copyright, div.abstract {
  background: #f5f6f7;
  margin: 0px auto;
  padding:  0 0.5em;
}

hr {
  background: #dbddec;
  height: .3em;
  border: 0px;
  margin: 0px auto;
}