body {
  font-weight: normal;
  font-size: normal;
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  text-align: left;
}

div.navheader table {
    font-size: smaller;
}

div.navfooter table {
    font-size: smaller;
}

div.navheader img {
    border: medium none;
}

div.navfooter img {
    border: medium none;
}

div.book div.titlepage h1.title {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

div.book div.titlepage h2.subtitle {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

div.book div.titlepage h3.author {
    font-size: large;
}

div.book div.dedication div.titlepage h2.title {
    font-weight: normal;
    font-size: x-large;
}

div.chapter div.titlepage h2.title {
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

div.sect1 div.titlepage h2.title {
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

tt {
    font-family: courier, monospace;
}

pre.screen {
    color: black;
    background-color: #dddddd;
}

pre.synopsis {
    color: black;
    background-color: #dddddd;
}

div.warning {
    border: 1px solid;
}

div.note {
    border: 1px solid;
}

div.important {
    border: 1px solid;
}

div.caution {
    border: 1px solid;
}

div.warning h3.title {
    text-align: center
}

div.warning p {
    padding-left: 0.2in
}

div.note {
    padding-left: 0.2in
}

div.important {
    padding-left: 0.2in
}

div.caution {
    padding-left: 0.2in
}

.command {
    font-family: courier, monospace;
}

.item {
    width: 15em;
    float: left;
}

.secitem {
    font-weight: normal;
    width: 12.5em;
    float: left;
}

.toc ul, .index ul, .navheader ul, .navfooter ul {
	list-style: none;
}
