body {
  font-weight: normal;
  font-size: medium;
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  text-align: left;
}

.toc ul, .index ul,.navheader ul, .navfooter ul {
	list-style: none;
}

.navheader, .navfooter {
  font-size: smaller;
  text-align: center;
}

.headerlinks {
  border-bottom : solid 2px green;
  padding-bottom: 0.5em;
}

.navfooter {
  border-top : solid 2px green;
  padding-top: 0.5em;
  margin-top: 0.5em;
}

.prev {
   float     : left;
   text-align: left;
}

.next {
   float     : right;
   text-align: right;
   padding-right: 2em;
}

.up, .home {
   width  : 10em;
   margin: 0px auto;
}

li.preface {
	margin-left: 2.5em;
}

div.book div.titlepage h1.title {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

div.book div.titlepage h2.subtitle {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

div.book div.titlepage h3.author {
    font-size: large;
}

div.book div.dedication div.titlepage h2.title {
    font-weight: normal;
    font-size: x-large;
}

div.chapter div.titlepage h2.title {
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

div.sect1 div.titlepage h2.title {
    font-weight: bold;
    font-size: x-large;
    text-align: left;
}

tt {
    font-family: courier, monospace;
}

pre.screen {
    color: black;
    background-color: #dddddd;
}

pre.synopsis {
    color: black;
    background-color: #dddddd;
}

div.admonition {
  border: medium solid;
  width: 90%;
  margin: .5em auto;
}

div.admonhead h3 {
	display: inline;
	margin-left: 1.5em;
}

div.admonbody {
	margin: .5em;
}

.command {
    font-family: courier, monospace;
}

.item {
    width: 15em;
    float: left;
}

.secitem {
    font-weight: normal;
    width: 12.5em;
    float: left;
}

.materials dd {
	margin-bottom: 1em;
  margin-left: 0px auto;
}

.materials dd p {
	margin-top: 0px auto;
}
